<a href="https://colab.research.google.com/github/thoreau024/DATA-612-HW-Spencer-Flynn/blob/main/DATA_612_HW7_Spencer_Flynn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 7

## Purpose          
This assignment is intended to help you do the following:      
  - Groupby operations to aggregate, transform, and filter data      
  - Built-in and custom user functions to perform groupby operations

## About the assignment

In the industry, analytics professionals often explore data's measure variables grouped by one or multiple dimension variables. For example, the metrics of interest could be the average, max, min, or percentage (mix) of sales by month, location, etc.

The followings are the sample code snippet using the custom user functions together with `groupby()` and `apply()` in another way:

In [46]:
import pandas as pd

# the mpg data is used for demonstration
df = pd.read_csv("https://raw.githubusercontent.com/franklin-univ-data-science/data/master/mpg.csv")
df.head()

    mpg  cylinders  displacement  acceleration  model  origin
0  18.0          8         307.0          12.0     70       1
1  15.0          8         350.0          11.5     70       1
2  18.0          8         318.0          11.0     70       1
3  16.0          8         304.0          12.0     70       1
4  17.0          8         302.0          10.5     70       1

In [47]:
def summarize_data(g):
  return(
    pd.Series({
      "avg_MPG": g.mpg.mean(),
      "min_MPG": g.mpg.min(),
      "max_MPG": g.mpg.max(),
      "sample_count": len(g),
      "mix": g.cylinders.sum()/df.cylinders.sum(),
    })
  )

df.groupby("cylinders").apply(summarize_data)

             avg_MPG  min_MPG  max_MPG  sample_count       mix
cylinders
3          20.550000     18.0     23.7           4.0  0.005398
4          29.286765     18.0     46.6         207.0  0.372470
5          27.366667     20.3     36.4           3.0  0.006748
6          19.985714     15.0     38.0          84.0  0.226721
8          14.963107      9.0     26.6         108.0  0.388664

## Tasks   
  1. Read the `summarize_data()` and explain the difference between g and df.
  
  in the summarize_data() function - when calculating "mix" both g and df are referenced.    .apply takes a function and applies it to all values of pandas series, so when using 
  .apply(summarize_data) in order to calculate percentage (which is what 'mix' is) you would need the individual value (g) over all the values (df).

  2. Select the measure and dimention variables from your dataframe, apply the `summarize_data()` and modify as needed based on your preferences.

In [48]:
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv').dropna()


df

        Unnamed: 0 Utilization Type  ...             Location          NDC
0           128037             MCOU  ...  (31.1801, -91.8749)  37205013705
1           491755             FFSU  ...  (39.3498, -75.5148)  62756076388
2          2568076             FFSU  ...  (44.2853, -99.4632)  46987032311
3           491263             FFSU  ...  (43.3504, -84.5603)    781518501
5          2468555             FFSU  ...   (37.768, -78.2057)    143178501
...            ...              ...  ...                  ...          ...
156214      317999             FFSU  ...  (41.1289, -98.2883)  50111064702
156216     2519195             MCOU  ...  (44.6074, -69.3977)    121048910
156217      815768             MCOU  ...  (42.2373, -71.5314)  60432013325
156218     2029158             FFSU  ...  (38.8964, -77.0262)     88110947
156219     2799238             FFSU  ...  (38.8964, -77.0262)     29152725

[145375 rows x 21 columns]

In [49]:
def summarize_data(g):
  return(
    pd.Series({
      "avg Number of Prescriptions": g['Number of Prescriptions'].mean(),
      "avg Total Amount Reimbursed": g['Total Amount Reimbursed'].mean(),
      "max Total Amount Reimbursed": g['Total Amount Reimbursed'].max(),
      "sample_count": len(g),
      "Percent of Prescriptions": 100*g['Number of Prescriptions'].sum()/df['Number of Prescriptions'].sum(),
    })
  )

df_result = df.groupby(["Quarter","State"]).apply(summarize_data)
df_result.sort_values(by=['Quarter','Percent of Prescriptions'], ascending = False).head(51)

               avg Number of Prescriptions  ...  Percent of Prescriptions
Quarter State                               ...
4       CA                      407.129316  ...                  2.653139
        NY                      713.919240  ...                  2.459082
        OH                      564.720350  ...                  1.850452
        TX                      480.328612  ...                  1.387251
        IL                      382.929024  ...                  1.235968
        FL                      209.264057  ...                  1.202771
        MI                      171.203546  ...                  0.987515
        AZ                      175.330502  ...                  0.928836
        WI                      253.291774  ...                  0.806144
        NC                      246.329065  ...                  0.787007
        KY                      139.208520  ...                  0.761963
        MO                      234.356863  ...                  0.733417
        PA                      120.436541  ...                  0.706512
        IN                      194.957780  ...                  0.661161
        MA                      200.433584  ...                  0.654313
        GA                      217.058659  ...                  0.635773
        LA                      231.881381  ...                  0.631760
        TN                      218.176812  ...                  0.615842
        NJ                       81.041943  ...                  0.450548
        MD                       77.911164  ...                  0.405414
        WV                      176.818671  ...                  0.402898
        CT                      135.470423  ...                  0.393473
        MN                       70.910645  ...                  0.373338
        AL                      131.603221  ...                  0.367705
        WA                       98.630662  ...                  0.347398
        SC                       69.261728  ...                  0.344256
        OR                       88.884125  ...                  0.313796
        OK                      131.767241  ...                  0.312642
        MS                      112.762481  ...                  0.304914
        VA                      118.963934  ...                  0.296864
        AR                      108.817343  ...                  0.241273
        IA                      100.929603  ...                  0.228739
        CO                      102.156823  ...                  0.205192
        KS                       50.319075  ...                  0.178058
        NM                      137.705128  ...                  0.175759
        UT                       83.168699  ...                  0.167393
        ME                       78.861933  ...                  0.163564
        NV                       41.560044  ...                  0.155734
        NE                       61.276144  ...                  0.153410
        HI                       57.083179  ...                  0.126333
        NH                       48.460674  ...                  0.105863
        ID                       55.232558  ...                  0.097157
        DE                       51.948956  ...                  0.091594
        VT                       37.858407  ...                  0.070002
        DC                       39.033943  ...                  0.061158
        MT                       28.527594  ...                  0.052866
        SD                       29.082687  ...                  0.046042
        AK                       26.820106  ...                  0.041473
        RI                       33.202703  ...                  0.040205
        ND                       25.020468  ...                  0.035005
        WY                       20.452459  ...                  0.025519

[51 rows x 5 columns]

3. Write 1-3 paragraphs to explain the differences or challenges when you applied the function to your chosen dataframe.


One challenge I found was with presenting the data after applying the function. I wanted to see my results grouped by quarter and in descending order of percentage of prescriptions. In order to do this I used .sort_values().

  4. Post your version of the above code on your GitHub account. Do not forget a README file with explanations.